


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project1</title>
 <link rel="stylesheet" href="./product.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

   
</head>
<body>


 
    <div class="container" >

        <div class="row">      
              <nav class="navbar navbar-expand-lg navbar-light bg-danger justify-content-around" id="navbars">

       
            <ul class="navbar nav ">
                <li class="nav-item"> <a href="../../index.html" class="nav-link text-light">LOGO</a> </li>
                <!-- <li class="nav-item"><a href="#" class="nav-link text-light">About</a> </li>
                <li class="nav-item"><a href="#" class="nav-link text-light">Product</a> </li>
                <li class="nav-item"><a href="#" class="nav-link text-light">service</a> </li> -->
            </ul>
          
            <ul class="navbar nav">
                <li class="nav-item"> <a href="../home/home.html" class="nav-link text-light">Home</a> </li>
                <li class="nav-item"><a href="../about/about.html" class="nav-link text-light">About</a> </li>
                <li class="nav-item"><a href="./product.html" class="nav-link text-light">Product</a> </li>
                <li class="nav-item"><a href="../service/service.html" class="nav-link text-light">service</a> </li>
            </ul>


    </nav></div>

    </div>


    <h1 class="h1 text-primary">Product</h1>

<div class="container">
    <div class="row">
        <div class="col"> 
            
            
            <div class="card ">
                <div class="card-header bg-secondary">
                    <img src="../images/001 (1).jpg" alt="image1" height="100" width="100">
                </div>
            <div class="card-body bg-primary text-light"> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
           
        </div>
                  </div>
                  <div class="col"> 
            
            
                    <div class="card ">
                        <div class="card-header bg-secondary">
                            <img src="../images/001 (1).jpg" alt="image1" height="100" width="100">
                        </div>
                    <div class="card-body bg-primary text-light"> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
                   
                </div>
                          </div>
                          <div class="col"> 
            
            
                            <div class="card ">
                                <div class="card-header bg-secondary">
                                    <img src="../images/001 (1).jpg" alt="image1" height="100" width="100">
                                </div>
                            <div class="card-body bg-primary text-light"> 
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                           
                        </div>
                                  </div>
                                  
        <div class="col">
            <img src="../images/001 (2).jpg" alt="image2" height="100" width="100" class="bg-secondary">
            <p class="bg-primary">Ab nihil illum magni totam, nulla consequatur. Optio.</p>
        </div>
        <div class="col">
            <img src="../images/001 (3).jpg" alt="image3" height="100" width="100">
            <p>Ad incidunt dolor ducimus natus reprehenderit, dolorum doloribus!</p>
        </div>
        <div class="col">
            <img src="../images/001 (4).jpg" alt="image4" height="100" width="100">
            <p>Repellendus quam distinctio sapiente alias, nobis nihil quisquam?</p>
        </div>
        <div class="col">
            <img src="../images/001 (5).jpg" alt="image5" height="100" width="100">
            <p>Nesciunt error quam quos consectetur pariatur quidem consequatur.</p>
        </div>
        <div class="col">
            <img src="../images/001 (6).jpg" alt="image6" height="100" width="100">
            <p>Dolore maiores impedit, alias soluta aspernatur consectetur sint.</p>
        </div>
        <div class="col">
            <img src="../images/001 (7).jpg" alt="image7" height="100" width="100">
            <p>Quaerat aliquam qui incidunt quo. Iure, fuga facilis!</p>
        </div>
        <div class="col">
            <img src="../images/001 (8).jpg" alt="image8" height="100" width="100">
            <p>Iusto recusandae quasi explicabo temporibus illo. Consequatur, sit!</p>
        </div>
        <div class="col">
            <img src="../images/001 (9).jpg" alt="image9" height="100" width="100">
            <p>Consequatur aspernatur repellendus veritatis soluta iure aperiam impedit.</p>
        </div>
    </div>
</div>

    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>